@media (max-width: 1109px){
    .section2{
       text-align: center;
    }
   .flex-container{
     text-align: center;
   }
}
@media (max-width: 1011px){
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 935px){
    .section2{
        margin-left: 2%;
    }
}
@media(max-width: 835px){
    header div{
        display: none;
    }
    .material-symbols-outlined{
        display: inline-block !important;
    }
}
@media (max-width: 548px){
    div h2{
        margin-top: 40px;
    }
    .section2{
        margin-left: 0%;
    }
    .textplace{
        margin-left: 2%;
    }
    .flex-container{
        margin-left: 2%;
    }
}
